{
  "extends": [
    "airbnb",
    "prettier",
    "eslint:recommended"
  ],
  "globals": {
    "afterAll": true,
    "afterEach": true,
    "beforeAll": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "fit": true,
    "it": true,
    "jasmine": true,
    "xit": true,
    "jest": true
  },
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
